    <!-- トップページのメイン -->
    <div class="index-main">
      <div class="hero">
        <%= image_tag "GettyImages-1436398648.webp", class:"hero-image" %>
        <div class="hero-items">
          <div class="hero-text">
            <div class="hero-text__main">今日からはじめよう</div>
            <div class="hero-text__sub"></div>
            
              <select id="select-min" class="select-min"></select><p class="p-timer">分</p>
              <br>
              <select id="select-sec" class="select-sec"></select><p class="p-timer">秒</p>
              <br>
           
              <h1 id="time-pass" class="time-pass">00分00秒</h1>
              <button id="start-btn" class="start-btn btn btn--orange btn--radius">スタート</button>
              <button id="stop-btn" class="is-hidden btn btn--orange btn--radius">ストップ</button>
              <button id="reset-btn" class="is-hidden btn btn--orange btn--radius">リセット</button>
              <br>
              <a href="#" id="end-text" class="is-hidden btn btn-gradient">片付け完了しました！</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  